div.container
  h2 Convert channel names to IDs
  p Paste in users, one username, URL, or ID per line
  form.form-section action="youtube/users" method="get"
    textarea rows="25" cols="60" name="ids"
      |
        Delta
        DeltaAirLines
        UC0KHhAOmmHCBGea_V5GsEDg
        UCjSrVD08nsyPDCNRjqSV7yA
        notarealusername12947
        UC_not_a_real_user_idSyA

    input.submit type="submit"
